html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Pozwól na przewijanie strony */
    font-family: Arial, sans-serif;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ustawienie canvasu w tle */
    background-color: black; /* Kolor tła, gdyby animacja nie zadziałała */
}


/* Stylizowanie nagłówka */
header {
    background-color: #35424a;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Stylizowanie nawigacji */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #2b3a42;
    border-radius: 5px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1abc9c;
}

/* Stylizowanie głównej zawartości */
main {
    padding: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Stylizowanie stopki */
footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: static;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

/* Dodatkowy styl dla tekstu i elementów */
h1, h2, h3 {
    color: #35424a;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #1abc9c;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ffffff;
}

button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16a085;
}
